.App {
  min-height: 34rem;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: bolder;
  color: lightslategrey;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: 2px solid lightslategrey;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div label {
  font-size: 1rem;
  margin: 0.25em 0;
  font-weight: bold;
  text-align: start;
  color: lightgrey;
}

form > div :not(label) {
  font-size: 1rem;
  padding: 0.5em 0.75em;
  margin-bottom: 0.5em;
  font-weight: normal;
  text-align: start;
  color: white;
  border: 1px solid slategrey;
}

form > div input {
  font-family: monospace;
}

form > div textarea {
  font-family: sans-serif;
  resize: vertical;
}

.error-text {
  color: crimson;
}

.result-container h1 {
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  margin: 0.5em 0;
  color: white;
}

.result-container p {
  font-size: 1rem;
  padding: 0.5em 0.75em;
  margin-top: 0.5em;
  color: wheat;
}

.result-true {
  background-color: darkgreen;
}

.result-false {
  background-color: darkred;
}

.regexp-view {
  font-family: monospace;
  background-color: darkslategrey;
}

.test-text-view {
  border: 2px solid darkslategrey;
}
